* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v28_2 {
  width: 100%;
  height: 2603px;
  background: rgba(168,218,220,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v39_7 {
  width: 100%;
  height: 564px;
  background: rgba(168,218,220,1);
  opacity: 1;
  position: absolute;
  top: 167px;
  left: 0px;
  overflow: hidden;
}
.v39_5 {
  width: 100%;
  height: 607px;
  background: linear-gradient(rgba(23,96,177,1), rgba(241,250,238,1));
  opacity: 1;
  position: absolute;
  top: 1250px;
  left: 0px;
  overflow: hidden;
}
.v39_6 {
  width: 100%;
  height: 746px;
  background: linear-gradient(rgba(241,250,238,1), rgba(168,218,220,1));
  opacity: 1;
  position: absolute;
  top: 1857px;
  left: 1px;
  overflow: hidden;
}
.v39_3 {
  width: 100%;
  height: 167px;
  background: rgba(168,218,220,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v34_2 {
  width: 100%;
  height: 520px;
  background: linear-gradient(rgba(237,231,227,0.7400000095367432), rgba(69,123,157,0.05000000074505806));
  opacity: 1;
  position: absolute;
  top: 731px;
  left: 1px;
  overflow: hidden;
}
.v28_3 {
  width: 90px;
  height: 87px;
  background: url("../images/v28_3.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 40px;
  left: 104px;
  overflow: hidden;
}
.v28_4 {
  width: 390px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 61px;
  left: 204px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 34px;
  opacity: 1;
  text-align: left;
}
.v50_2 {
  width: 589px;
  height: 71px;
  background: url("../images/v50_2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 44px;
  left: 705px;
  overflow: hidden;
}
.v29_17 {
  width: 584px;
  height: 70px;
  background: rgba(241,250,238,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 5px;
  border-top-left-radius: 58px;
  border-top-right-radius: 58px;
  border-bottom-left-radius: 58px;
  border-bottom-right-radius: 58px;
  overflow: hidden;
}
.v29_19 {
  width: 163px;
  height: 71px;
  background: rgba(32,174,225,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 58px;
  border-top-right-radius: 58px;
  border-bottom-left-radius: 58px;
  border-bottom-right-radius: 58px;
  overflow: hidden;
}
.v29_36 {
  width: 103px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 16px;
  left: 31px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 34px;
  opacity: 1;
  text-align: center;
}
.v29_15 {
  width: 121px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 20px;
  left: 289px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 34px;
  opacity: 1;
  text-align: center;
}
.v29_16 {
  width: 86px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 21px;
  left: 451px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 34px;
  opacity: 1;
  text-align: center;
}
.v29_22 {
  width: 63px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 20px;
  left: 184px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 34px;
  opacity: 1;
  text-align: center;
}
.v50_3 {
  width: 100%;
  height: 511px;
  background: url("../images/v50_3.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 194px;
  left: 104px;
  overflow: hidden;
}
.v29_31 {
  width: 270px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 139px;
  left: 2px;
  font-family: Roboto;
  font-weight: SemiBold;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v29_20 {
  width: 500px;
  height: 511px;
  background: url("../images/v29_20.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 650px;
  border-top-left-radius: 271px;
  border-top-right-radius: 271px;
  border-bottom-left-radius: 271px;
  border-bottom-right-radius: 271px;
  overflow: hidden;
}
.v50_14423 {
  width: 589px;
  height: 62px;
  background: rgba(241,250,238,1);
  opacity: 1;
  position: absolute;
  top: 189px;
  left: 1px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v29_25 {
  width: 189px;
  height: 64px;
  background: rgba(23,96,177,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  overflow: hidden;
}
.v29_24 {
  width: 125px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 19px;
  left: 55px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 25px;
  opacity: 1;
  text-align: center;
}
.v29_26 {
  width: 201px;
  color: rgba(12,18,30,1);
  position: absolute;
  top: 12px;
  left: 226px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 25px;
  opacity: 1;
  text-align: center;
}
.v29_28 {
  width: 38px;
  height: 41px;
  background: url("../images/v29_28.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 16px;
  overflow: hidden;
}
.v29_32 {
  width: 189px;
  height: 63px;
  background: rgba(32,174,225,1);
  padding: 17px 21px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 279px;
  left: 0px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
}
.v29_30 {
  width: 123px;
  background-color: #20aee1;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 14px;
  left: 33px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
.v50_14420 {
  width: 590px;
  height: 423px;
  background: url("../images/v50_14420.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 780px;
  left: 105px;
  overflow: hidden;
}
.v30_51 {
  width: 270px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 4px;
  font-family: Roboto;
  font-weight: SemiBold;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v29_38 {
  width: 479px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 34px;
  left: 2px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 50px;
  opacity: 1;
  text-align: left;
}
.v50_14424 {
  width: 589px;
  height: 62px;
  background: rgba(241,250,238,1);
  opacity: 1;
  position: absolute;
  top: 181px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v29_41 {
  width: 189px;
  height: 63px;
  background: rgba(23,96,177,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  overflow: hidden;
}
.v29_42 {
  width: 125px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 18px;
  left: 56px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 25px;
  opacity: 1;
  text-align: center;
}
.v29_43 {
  width: 201px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 11px;
  left: 227px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 25px;
  opacity: 1;
  text-align: center;
}
.v29_44 {
  width: 38px;
  height: 41px;
  background: url("../images/v29_44.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 18px;
  overflow: hidden;
}
.v50_14425 {
  width: 388px;
  height: 63px;
  background: rgba(241,250,238,1);
  opacity: 1;
  position: absolute;
  top: 276px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v29_46 {
  width: 321px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 16px;
  left: 34px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v30_48 {
  width: 189px;
  height: 52px;
  background: rgba(32,174,225,1);
  padding: 17px 21px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 355px;
  left: 0px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
}
.v30_50 {
  width: 95px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 8px;
  left: 47px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
.v50_14421 {
  width: 988px;
  height: 477px;
  background: linear-gradient(rgba(23,96,177,1), rgba(241,250,238,1));
  opacity: 1;
  position: absolute;
  top: 1315px;
  left: 205px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v30_62 {
  width: 490px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 248px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 61px;
  opacity: 1;
  text-align: center;
}
.v50_14426 {
  width: 490px;
  height: 61px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 103px;
  left: 98px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v30_65 {
  width: 149px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 14px;
  left: 10px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v50_14427 {
  width: 490px;
  height: 61px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 178px;
  left: 98px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v30_67 {
  width: 75px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 12px;
  left: 10px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v50_14428 {
  width: 490px;
  height: 106px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 253px;
  left: 98px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v30_69 {
  width: 469px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 8px;
  left: 9px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v30_72 {
  width: 188px;
  height: 58px;
  background: rgba(32,174,225,1);
  padding: 17px 21px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 380px;
  left: 98px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
}
.v30_73 {
  width: 69px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 11px;
  left: 60px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
.v50_14422 {
  width: 100%;
  height: 690px;
  background: url("../images/v50_14422.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1885px;
  left: 104px;
  overflow: hidden;
}
.v30_83 {
  width: 154px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 518px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 61px;
  opacity: 1;
  text-align: center;
}
.v50_14429 {
  width: 290px;
  height: 256px;
  background: url("../images/v50_14429.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 107px;
  left: 0px;
  overflow: hidden;
}
.v30_84 {
  width: 290px;
  height: 213px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 43px;
  left: 0px;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
  overflow: hidden;
}
.v30_86 {
  width: 97px;
  height: 95px;
  background: rgba(157,157,157,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 100px;
  border-radius: 50%;
}
.v30_87 {
  width: 68px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 35px;
  left: 111px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
.v30_112 {
  width: 80px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 115px;
  left: 105px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
.v30_113 {
  width: 59px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 176px;
  left: 111px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
.v50_14430 {
  width: 290px;
  height: 256px;
  background: url("../images/v50_14430.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 434px;
  left: 1px;
  overflow: hidden;
}
.v30_103 {
  width: 290px;
  height: 213px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 43px;
  left: 0px;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
  overflow: hidden;
}
.v30_106 {
  width: 97px;
  height: 95px;
  background: rgba(157,157,157,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 100px;
  border-radius: 50%;
}
.v30_109 {
  width: 68px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 35px;
  left: 111px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
.v30_123 {
  width: 80px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 124px;
  left: 105px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
.v30_124 {
  width: 59px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 184px;
  left: 114px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
.v50_14431 {
  width: 290px;
  height: 256px;
  background: url("../images/v50_14431.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 107px;
  left: 900px;
  overflow: hidden;
}
.v30_97 {
  width: 290px;
  height: 213px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 43px;
  left: 0px;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
  overflow: hidden;
}
.v30_98 {
  width: 97px;
  height: 95px;
  background: rgba(157,157,157,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 100px;
  border-radius: 50%;
}
.v30_99 {
  width: 68px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 35px;
  left: 111px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
.v30_117 {
  width: 80px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 119px;
  left: 105px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
.v30_118 {
  width: 59px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 179px;
  left: 114px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
.v50_14432 {
  width: 290px;
  height: 256px;
  background: url("../images/v50_14432.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 434px;
  left: 901px;
  overflow: hidden;
}
.v30_104 {
  width: 290px;
  height: 213px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 43px;
  left: 0px;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
  overflow: hidden;
}
.v30_107 {
  width: 97px;
  height: 95px;
  background: rgba(157,157,157,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 100px;
  border-radius: 50%;
}
.v30_110 {
  width: 68px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 35px;
  left: 111px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
.v30_119 {
  width: 80px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 131px;
  left: 105px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
.v30_120 {
  width: 59px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 191px;
  left: 114px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
.v50_14433 {
  width: 290px;
  height: 256px;
  background: url("../images/v50_14433.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 107px;
  left: 450px;
  overflow: hidden;
}
.v30_100 {
  width: 290px;
  height: 213px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 43px;
  left: 0px;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
  overflow: hidden;
}
.v30_101 {
  width: 97px;
  height: 95px;
  background: rgba(157,157,157,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 100px;
  border-radius: 50%;
}
.v30_114 {
  width: 80px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 119px;
  left: 105px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
.v30_102 {
  width: 68px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 35px;
  left: 111px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
.v30_115 {
  width: 59px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 179px;
  left: 114px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
.v50_14434 {
  width: 290px;
  height: 256px;
  background: url("../images/v50_14434.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 434px;
  left: 451px;
  overflow: hidden;
}
.v30_105 {
  width: 290px;
  height: 213px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 43px;
  left: 0px;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
  overflow: hidden;
}
.v30_108 {
  width: 97px;
  height: 95px;
  background: rgba(157,157,157,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 100px;
  border-radius: 50%;
}
.v30_111 {
  width: 68px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 35px;
  left: 111px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
.v30_121 {
  width: 80px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 124px;
  left: 105px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
.v30_122 {
  width: 59px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 184px;
  left: 114px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}