<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Face Recognition App</title>
    <!-- Include Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light">
    <div class="container mt-5">
        <h1 class="mb-4">Face Recognition App</h1>

        <a href="/compare" class="btn btn-primary mb-3">Compare Images</a>
        <a href="/upload_image" class="btn btn-success mb-3">Upload New Image</a>

        {% if success is defined %}
        <p class="alert alert-success mt-4">{{ success }}</p>
        {% endif %}

        {% if match %}
            <div class="mt-4">
                <p>Name: {{ matched_desired_name }}</p>
                <p>Instagram ID: <a href="https://instagram.com/{{ matched_instagram_id }}">@{{ matched_instagram_id }}</a></p>
                <img src="{{matched_image_path}}" width="280px">
            </div>
        {% endif %}

        {% if error is defined %}
            <p class="alert alert-danger mt-4">{{ error }}</p>
        {% endif %}
    </div>

    <!-- Include Bootstrap JS and Popper.js (for Bootstrap features like dropdowns) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
